extends ../../components/html/html.pug

block content
  form.login-form
      .login-form__card
        .login-form__header
          p #{header}
        .login-form__inputs-section
          span !{loginInput}
          span !{passwordInput}
        .login-form__buttons-section
          span !{logInButton}
          span !{registerButton}
