.input-wrapper(class=`${error ? "has-error" : ''}`)
    input(id=id name=id type=type || "text" required=required || true placeholder=placeholder pattern=pattern accept=accept)
    label(for=id) #{label}
    if(type==="file")
      .file-chosen
    span.error #{error}
