.menu-wrapper
  span !{iconButton}
  ul.dropdown-content(class=position || 'top-right')
    each item in data || []
      li.dropdown-item(id=item.id)
        .icon-container
          span !{item.icon}
        p.dropdown-item-text #{item.text}
