.chat-wrapper
  .chat
    aside
      .chat__search-section
        .chat__profile-link
          | !{profileLink}
          i.icon.fa.fa-angle-right
        .chat_search-field
          .input-component-wrapper !{searchInput}
          .input-label
            i.icon.fa.fa-search
            p.input-label-placeholder #{searchInputPlaceholder}
      .chat__dialogs-section
        | !{dialogsSection}

    nav.chat__top-panel
      .chat__selected-dialog-meta
        | !{selectedDialogMeta}
      .chat__top-panel-menu-icon
        | !{chatMenu}

    .chat__messages-panel
      | !{messagesSection}


    .chat__bottom-panel
      .chat__bottom-panel-attach-menu-icon
        | !{attachMenu}
      .chat__bottom-panel-message-field
        .input-component-wrapper !{messageInput}
      .chat__bottom-panel-send-icon
        | !{sendIcon}

    | !{createChatModal}
    | !{addUserModal}
    | !{deleteUserModal}
    | !{fileUploadModal}
    | !{mediaUploadModal}
