extends ../../components/html/html.pug

block content
  - const dialogsKeysArray = [dialog_0, dialog_1, dialog_2];
  - const messagesKeysArray = [message_0, message_1, message_2, message_3, message_4, message_5];
  .chat
    aside
      .chat__search-section
        .chat__profile-link
          span !{profileLink}
          i.icon.fa.fa-angle-right
        .chat_search-field
          input(type="search")
          .input-label
            i.icon.fa.fa-search
            p.input-label-placeholder #{searchInputPlaceholder}
      .chat__dialogs-section
        each item in dialogsKeysArray
          span !{item}

    nav.chat__top-panel
      .chat__top-panel-user-avatar
        span !{reviewingDialogUserAvatar}
        h1.chat__top-panel-user-name #{reviewingDialogUserName}
      .chat__top-panel-menu-icon
        span !{chatMenu}

    .chat__messages-panel
       each item in messagesKeysArray
         span !{item}
       else
         p.messages-panel-info-text #{messagesPanelInfoText}


    .chat__bottom-panel
      .chat__bottom-panel-attach-menu-icon
        span !{attachMenu}
      .chat__bottom-panel-message-field
        input(type="text" name="message" id="message" placeholder="Сообщение")
      .chat__bottom-panel-send-icon
        span !{sendIcon}
