.chat-wrapper
  .chat
    aside
      .chat__search-section
        .chat__profile-link
          | !{profileLink}
          i.icon.fa.fa-angle-right
        .chat_search-field
          .input-component-wrapper !{searchInput}
          .input-label
            i.icon.fa.fa-search
            p.input-label-placeholder #{searchInputPlaceholder}
      .chat__dialogs-section
        each item in dialogs
          | !{item}

    nav.chat__top-panel
      .chat__top-panel-user-avatar
        | !{reviewingDialogUserAvatar}
        h1.chat__top-panel-user-name #{reviewingDialogUserName}
      .chat__top-panel-menu-icon
        | !{chatMenu}

    .chat__messages-panel
      each item in messages
        | !{item}
      else
        p.messages-panel-info-text #{messagesPanelInfoText}


    form.chat__bottom-panel
      .chat__bottom-panel-attach-menu-icon
        | !{attachMenu}
      .chat__bottom-panel-message-field
        .input-component-wrapper !{messageInput}
      .chat__bottom-panel-send-icon
        | !{sendIcon}

    | !{addUserModal}
    | !{deleteUserModal}
    | !{fileUploadModal}
    | !{mediaUploadModal}
