extends ../../components/html/html.pug

block content
  .profile
    span !{GoBackButtonPanel}
    .profile__content-section
      .profile__user-avatar-section
        span !{avatar}
        h1.profile__user-name #{userName}
      ul.profile__user-data
        each item in userData
          li.profile__user-data-row(class=item.id)
            p.label #{item.label}
            p.value #{item.value}
      .proifle__links-section
        span !{logOut}
        span !{changePassword}
        span !{edit}
