include ../avatar/avatar.pug

mixin dialog(props)
  .dialog(class=`${props.isSelected ? '--is-selected' : ''}`)
    +avatar(props.avatar)
    .dialog__message-section
      h2 #{props.name}
      if props.currentUserMessage 
        p.dialog__current-user-message-label Вы: 
      p #{props.messagePreview}
    .dialog__meta-data-section
      p.dialog__message-time #{props.lastMessageTime}
      if !!props.amountOfUnreadMessages 
        .dialog__messages_amount
          p #{props.amountOfUnreadMessages}